@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; } 
fieldset, img { border:none; }
img{display: block;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none; }                     
body { color:#333; padding:5px 0; font:12px/20px "SimSun","微软雅黑","Arial Narrow",HELVETICA; background:#fff; }
a{color:#666;text-decoration:none;}



.header{height:103px;width:1440px;margin:0px auto;}
.header .a_logo{display:inline-block;margin-top:24px;margin-left:150px;float:left;}
.header ul{list-style:none;float:left;margin-left:125px;margin-top:57px;}
.header ul li{float:left;}
.header ul li a{font-size:12px;padding:30px 18px;font-weight:bold;}
.header ul li a:hover{background:#f75a53;color:white;}

.banner{height:200px;width:1440px;margin:0px auto;background:url(../images/bg.png);}
.banner h1{display:inline-block;padding:0px 16px;margin-left:134px;border-right:1px solid;line-height:24px;margin-top:64px;font-size:22px;color:#fffffd;}
.banner h2{display:inline-block;padding-left:18px;line-height:24px;font-size:18px;color:#ffb3b1;}
.banner p{margin-left:154px;margin-top:22px;color:#feb2b2;}
.banner a{color:#fffeff;}

.nav{height:60px;width:1440px;margin:0px auto;background:#f7f7f7;}
.nav ul{float:right;margin-right:146px;}
.nav ul li{float:left;}
.nav ul li a{padding:0px 17px;font-size:12px;height:60px;float:left;line-height:60px;}
.nav ul li a:hover{background:pink;}

.content{height:900px;width:1440px;margin:0px auto;}
.content .shop{width:1141px;height:828px;margin:0px auto;margin-top:58px;marin-left:150px;background:url(../images/content.png) no-repeat;}
.content .shop dd{height:257px;width:360px;margin-right:30px;float:left;margin-bottom:30px;}
.content .shop dd a{display:inline-block;height:257px;width:360px;}
.content .shop .baddd{margin-right:0px;}

.footer{height:135px;width:1440px;margin:0px auto;background:#363636;}
.footer ul{float:left;margin-left:453px;margin-top:30px;}
.footer ul li{float:left;}
.footer ul li a{color:#7a7a7a;padding:0px 10px;border-right:1px solid;padding-bottom:3px;}
.footer ul .lastli a{border:none;}
.footer p{color:#777777;display:block;text-align:center;line-height:18px;margin-top:3px;}
.footer ul li a:hover{background:yellow;}