@charset "utf-8";
/* CSS Document */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; } 
fieldset, img { border:none; }
img{display: block;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none; }                     
body { color:#333; padding:5px 0; font:12px/20px "SimSun","微软雅黑","Arial Narrow",HELVETICA; background:#fff; }
a{color:#666;text-decoration:none;}



.header{height:103px;width:1440px;margin:0px auto;}
.header .a_logo{display:inline-block;margin-top:24px;margin-left:150px;float:left;}
.header ul{list-style:none;float:left;margin-left:125px;margin-top:57px;}
.header ul li{float:left;}
.header ul li a{font-size:12px;padding:30px 18px;border-top-left-radius:5px;border-top-right-radius:5px;font-weight:bold;}
.header ul li a:hover{background:#f75a53;}

.banner{height:457px;width:1440px;margin:0px auto;}

.content{height:356px;width:1440px;margin:0px auto;background:#ddd;}
.content h2{text-align:center;padding-top:38px;margin-bottom:20px;font-size:22px;color:#000002;}
.content p{text-align:center;font-size:14px;color:#999;}
.content .weblink{height:204px;width:1140px;border:1px solid #ededed;margin:0px auto;margin-top:20px;background:white;border-top:none;border-right:none;position:relative;}
.content ul li{width:189px;height:101px;border:1px solid #ededed;float:left;border-left:none;border-bottom:none;overflow:hidden;}
.content ul .tmall img{position:relative;right:189px;}
.content ul .jd img{position:relative;right:378px;}
.content ul .xl img{position:relative;right:567px;}
.content ul .vip img{position:relative;right:756px;}
.content ul .moonbasa img{position:relative;right:945px;}
.content ul .vanke img{position:relative;top:-101px;}
.content ul .hengda img{position:relative;top:-101px;right:189px;}
.content ul .lvdi img{position:relative;top:-101px;right:378px;}
.content ul .biguiyuan img{position:relative;top:-101px;right:567px;}
.content ul .baoli img{position:relative;top:-101px;right:756px;}
.content ul .longfor img{position:relative;top:-101px;right:945px;}

.introduce{width:1440px;height:543px;background:#1a1b1f;margin:0px auto;position:relative;}
.introduce h2{text-align:center;padding-top:51px;margin-bottom:23px;font-size:22px;color:#ffffee;}
.introduce p{text-align:center;font-size:14px;color:#fffeff;}
.introduce .introduce_left{height:260px;width:340px;background:#d1d1d3;margin-left:150px;margin-top:110px;float:left;}
.introduce .leftlogo{position:absolute;top:154px;left:255px;}
.introduce .introduce_left h2{padding-top:95px;text-align:center;margin-bottom:19px;font-size:16px;color:#f65751;}
.introduce .introduce_left p{padding:0px 44px;line-height:30px;font-size:12px;color:#010002;}

.introduce .introduce_center{height:260px;width:340px;background:#d1d1d3;margin-left:58px;margin-top:110px;float:left;}
.introduce .centerlogo{position:absolute;top:154px;left:652px;}
.introduce .introduce_center h2{padding-top:95px;text-align:center;margin-bottom:19px;font-size:16px;color:#f65751;}
.introduce .introduce_center p{padding:0px 44px;line-height:30px;font-size:12px;color:#010002;}

.introduce .introduce_right{height:260px;width:340px;background:#d1d1d3;margin-left:58px;margin-top:110px;float:left;}
.introduce .rightlogo{position:absolute;top:154px;left:1054px;}
.introduce .introduce_right h2{padding-top:95px;text-align:center;margin-bottom:19px;font-size:16px;color:#f65751;}
.introduce .introduce_right p{padding:0px 44px;line-height:30px;font-size:12px;color:#010002;}

.show{height:800px;width:1440px;margin:0px auto;background:white;}
.show h2{text-align:center;padding-top:38px;margin-bottom:20px;font-size:22px;color:#000002;}
.show p{text-align:center;font-size:14px;color:#999;}
.show ul{list-style:none;margin-left:325px;margin-top:40px;}
.show ul li{float:left;height:33px;}
.show ul li a{padding:8px 72px;background:#666;color:white;}
.show ul li:hover{background:url(../images/tupiao.png)no-repeat center 24px;}
.show ul li a:hover{background:#f75a53;}
.show .shop{width:1141px;height:542px;margin:0px auto;margin-top:16px;background:url(../images/shop.png) no-repeat;}
.show .shop dd{height:257px;width:360px;margin-right:30px;float:left;margin-bottom:30px;}
.show .shop dd a{display:inline-block;height:257px;width:360px;}
.show .shop .baddd{margin-right:0px;}

.news{height:348px;width:1440px;margin:0px auto;background:#f2f2f2;}
.news ul{float:left;width:360px;height:270px;margin-top:51px;margin-left:40px;}
.news ul h2{padding-bottom:25px;}
.news ul li a{line-height:30px;}
.news ul li span{float:right;margin-right:20px;}
.news ul input{height:32px;width:118px;border-radius:4px;border:none;margin-top:13px;background:#f75a53;}
.news .ul1{margin-left:150px;}

.footer{height:135px;width:1440px;margin:0px auto;background:#363636;}
.footer ul{float:left;margin-left:453px;margin-top:30px;}
.footer ul li{float:left;}
.footer ul li a{color:#7a7a7a;padding:0px 10px;border-right:1px solid;padding-bottom:3px;}
.footer ul .lastli a{border:none;}
.footer p{color:#777777;display:block;text-align:center;line-height:18px;margin-top:3px;}
.footer ul li a:hover{background:yellow;}